
*{
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
.navbar{
padding: 0;
}
header{
  background: rgba(0,0,0,0.5);
  padding: 0 20px;
  width:100%;
  display: flex;
  justify-content: space-between;
}
.navbar > ul, li{
  display: inline-block;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 20px;
}
.responsive{
  width: 100%;
  height: 91vh;
}
.responsive:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.5);
}
.carousel-caption{
  bottom: 40%;
}
.row{
  margin: 0;
}
.col-sm-12, .col-md-6{
  padding: 0;
}
/*About-us Content */
.about{
  align-content: center;
}
.about-content{
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
}
.about > h1, h2{
  text-align: center;
  margin-top: 10px;
  width: 60%;
  padding-left: 20px;
  background: #699ee3;
  border-radius: 20px;
}
button{
  color: orange;
}
h1{
    color: green;
  text-align: center;
  text-decoration: underline;
  padding: 30px;
  font-size: 30px;
}
body{
  background-color: rgba(0,0,0,0.5);
  border-radius: 50px;
}
